body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    background-color: #4976f0;
    color: white;
    text-align: center;
}

.work {
    background-color: #4CAF50;
}

.rest {
    background-color: #18b6f5;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="number"],
input[type="text"] {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Style when input is focused */
input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.legend {
    font-size: 24px;
    font-style: italic;
}

#countdownContainer {
    margin-top: 30vh;
    font-size: 4em;
}

#repetitionsRemaining {
    font-size: 0.4em;
    font-style: italic;
}